<%- include('partials/header') %>

    <h2>Vote for a Food</h2>
    <form action="/vote" method="POST">
        <label for="foodName">Select Food:</label>
        <select id="foodName" name="foodName" required>
            <option value="">Choose a food</option>
            <% foods.forEach(food => { %>
                <option value="<%= food.name %>"><%= food.name %></option>
            <% }); %>
        </select>
        <p id="foodInfo"></p>
        <br><br>
        <div class="slider-container">
            <label for="taste">Taste (0-10): <span id="tasteValue" class="slider-value">5</span></label>
            <input type="range" id="taste" name="taste" min="0" max="10" value="5" class="slider">
        </div>
        
        <div class="slider-container">
            <label for="look">Look (0-10): <span id="lookValue" class="slider-value">5</span></label>
            <input type="range" id="look" name="look" min="0" max="10" value="5" class="slider">
        </div>
        
        <div class="slider-container">
            <label for="feel">Feel (0-10): <span id="feelValue" class="slider-value">5</span></label>
            <input type="range" id="feel" name="feel" min="0" max="10" value="5" class="slider">
        </div>
        <button class="half-width centered" type="submit">Submit Vote</button>
    </form>
    <script>
        const foods = <%- JSON.stringify(foods) %>;

        const foodNameSelect = document.getElementById('foodName');
        const foodInfoText = document.getElementById('foodInfo');

        foodNameSelect.addEventListener('change', () => {
            const selectedFood = foods.find(food => food.name === foodNameSelect.value);
            if (selectedFood && selectedFood.info) {
                foodInfoText.textContent = `Info: ${selectedFood.info}`;
            } else {
                foodInfoText.textContent = '';
            }
        });

    </script>
    <script src="/js/sliders.js"></script>
<%- include('partials/footer') %>